<div class="row homepage-contents">
  <div class="col-md-1">
  </div>
  <div class="col-md-3 anchor">
    <button class="btn-lg btn-primary center-block detail-button">New Outreach Template</button>
    <div class="feature-summary hidden">
      <h3 class="text-center">New Outreach Template</h3>
      <%= render 'form' %>

      <a class="close-link">Close</a>
    </div>
  </div>
  <div class="col-md-3 anchor">
    <button class="btn-lg btn-primary center-block detail-button">New Customer</button>
    <div class="feature-summary hidden">
      <h3 class="text-center">New Customer</h3>
      <%= render 'customers/form' %>

      <a class="close-link">Close</a>
    </div>

  </div>

  <div class="col-md-3 anchor">
    <button class="btn-lg btn-primary center-block detail-button">Pending Addition</button>
    <div class="hidden feature-summary">
      <h3 class="text-center">Pending Addition</h3>
      <a class="close-link">Close</a>
    </div>
  </div>
</div>
