<div class="row homepage-contents">
  <div class="col-md-3 anchor">
    <button class="btn-lg btn-primary center-block detail-button">Shorten Link for Body</button>
    <div class="feature-summary hidden center-block">
      <h3 class="text-center google-shorten-header">Shortened Link for Body</h3>
      <a href="https://goo.gl/" target="_blank" class= "btn btn-success center-block">Open Google url tracking in new tab</a><br><br>
      <a class="close-link">Close</a>
    </div>
  </div>
  <div class="col-md-3 anchor">
    <button class="btn-lg btn-primary center-block detail-button">Create Outreach Template</button>
    <div class="feature-summary hidden">
      <h3 class="text-center">New Outreach Template</h3>
      <%= render 'form' %>
      <a class="close-link">Close</a>
    </div>
  </div>
  <div class="col-md-3 anchor">
    <button class="btn-lg btn-primary center-block detail-button">Add Customer</button>
    <div class="feature-summary hidden">
      <h3 class="text-center">New Customer</h3>
      <%= render 'customers/form' %>
      <a class="close-link">Close</a>
    </div>

  </div>

  <div class="col-md-3 anchor">
    <button class="btn-lg btn-primary center-block detail-button">Add Spreadsheet</button>
    <div class="hidden feature-summary">
      <h3 class="text-center">Link Spreadsheet</h3>
      <%= render 'spreadsheets/form' %>
      <a class="close-link">Close</a>
    </div>
  </div>
</div>
