body#primary {
  padding-left: 5px;
  background-image: url("backgrounds/white_brick.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

div.feature-summary {
  /*background-image: url("backgrounds/brushed_aluminium_background.jpg");*/
  background-color: rgb(142, 168, 176);
  opacity: 0.95;
  padding: 5px 0 15px 20px;
  border-radius: 10%;
  border: solid black 3px;
  font-family: "Arial";    
}


div.homepage-contents {
  margin-top: 30px;
}

a.close-link {
  margin-right: 10px;

}

a.close-link:hover {
  cursor: pointer;
}

/* IMAGE NAMES TO PLAY WITH:
black_textured_background.jpg
brushed_aluminium_background.jpg
clean_light_blue.jpg
white_brick.jpeg


*/